body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
    color: var(--bs-secondary-color);
}

.btn {
    border-radius: 50rem;
}