body {
    background: linear-gradient(transparent,white), url('../images/core/bx-icon.svg');
    background-size: (100% - 2rem);
    background-repeat: no-repeat;
    background-position: right bottom;
}